# Copy this file to .env and fill in your values
# NEVER commit .env to git

# Server IP Addresses (REQUIRED)
export ANSIBLE_HOST_MASTER=127.0.0.1
export ANSIBLE_HOST_NODE1=127.0.0.2

# SSH Key Paths
# export ANSIBLE_SSH_KEY_PATH_MASTER=/home/dev/dev-ops/sshConnection/yourPrivateKeyHere
# export ANSIBLE_SSH_KEY_PATH_NODE1=/home/dev/dev-ops/sshConnection/yourPrivateKeyHere

# Docker SSH Key Paths:
export ANSIBLE_SSH_KEY_PATH_MASTER=/mnt/dev-ops/sshConnection/yourPrivateKeyHere
export ANSIBLE_SSH_KEY_PATH_NODE1=/mnt/dev-ops/sshConnection/yourPrivateKeyHere
